@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

:root {
    --primary-color: #3B82F6;
}

html { 
    background: url(images/img-two.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    font-family: 'Ranchers', cursive;
    margin: 0px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.596)), url(images/abc-PAF_VOLUME_005-Full-Image_GalleryCover-en-US-1492101416895._UY500_UX667_RI_VdFuXr2Ht8MujxvIcyueV2PIsnCGB2IB_TTW_.jpeg);
    background-size: contain; */
}

nav {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
}

.container {
    max-width: 600px;
    margin: auto;
    padding-right: 1rem;
    padding-left: 5rem;
}

textarea {
    width: 80%;
    height: 17vh;
    display: block;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 18px;
}

::-webkit-input-placeholder {
    font-family: 'Ranchers', cursive;
    font-size: 18px;
}

:-ms-input-placeholder {
    font-family: 'Ranchers', cursive;
    font-size: 18px;
}

::placeholder {
    font-family: 'Ranchers', cursive;
    font-size: 18px;
}

#btn-translate {
    background-color: var(--primary-color);
    font-family: 'Ranchers', cursive;
    font-weight: bold;
    font-size: large;
    border: 0px;
    height: 50px;
    width: 200px;
}


#output-para {
    margin-top: 20px;
    margin-bottom: 7px;
}

#output {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    padding: 7px;
    font-size: 18px;
}

footer {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    bottom: 0;
    text-align: center;
}
